.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.jcsb {
    justify-content: space-between;
}

.jcfe {
    justify-content: flex-end;
}

.opa-5 {
    opacity: .5;
}

.text-brand {
    color: $primary;
}